Пользователь хочет получить рекомендации по пакетам для системы {{PackageType}}.
Ответь на языке пользователя (Код языка пользователя - {{LangCode}}).
Он задал следующий вопрос: {{UserPrompt}}.
Пожалуйста, ответь в формате голого Json, содержащий следующие поля (Тип поля - имя поля, язык C#): {{ClassSchemeDescription}}.
Дай на выходе не менее {{MinRecommendationsCount}} актуальных и популярных пакетов, которые подходят под заданный запрос.